# Decision Tree Classification

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [3]:
features = df.drop('salary_more_then_100k', axis = 'columns')
features

       company                  job     degree
0       google      sales executive  bachelors
1       google      sales executive    masters
2       google     business manager  bachelors
3       google     business manager    masters
4       google  computer programmer  bachelors
5       google  computer programmer    masters
6   abc pharma      sales executive    masters
7   abc pharma  computer programmer  bachelors
8   abc pharma     business manager  bachelors
9   abc pharma     business manager    masters
10    facebook      sales executive  bachelors
11    facebook      sales executive    masters
12    facebook     business manager  bachelors
13    facebook     business manager    masters
14    facebook  computer programmer  bachelors
15    facebook  computer programmer    masters

In [4]:
target = df['salary_more_then_100k']
target

0     0
1     0
2     1
3     1
4     0
5     1
6     0
7     0
8     0
9     1
10    1
11    1
12    1
13    1
14    1
15    1
Name: salary_more_then_100k, dtype: int64

## Data Preprocessing

In [5]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [6]:
features['company_number'] = le.fit_transform(features['company'])
features['job_number'] = le.fit_transform(features['job'])
features['degree_number'] = le.fit_transform(features['degree'])

In [7]:
features

,company,job,degree,company_number,job_number,degree_number
0,google,sales executive,bachelors,2,2,0
1,google,sales executive,masters,2,2,1
2,google,business manager,bachelors,2,0,0
3,google,business manager,masters,2,0,1
4,google,computer programmer,bachelors,2,1,0
5,google,computer programmer,masters,2,1,1
6,abc pharma,sales executive,masters,0,2,1
7,abc pharma,computer programmer,bachelors,0,1,0
8,abc pharma,business manager,bachelors,0,0,0
9,abc pharma,business manager,masters,0,0,1
10,facebook,sales executive,bachelors,1,2,0
11,facebook,sales executive,masters,1,2,1
12,facebook,business manager,bachelors,1,0,0
13,facebook,business manager,masters,1,0,1
14,facebook,computer programmer,bachelors,1,1,0
15,facebook,computer programmer,masters,1,1,1

In [8]:
features = features.drop(['company', 'job', 'degree'], axis='columns')

features

    company_number  job_number  degree_number
0                2           2              0
1                2           2              1
2                2           0              0
3                2           0              1
4                2           1              0
5                2           1              1
6                0           2              1
7                0           1              0
8                0           0              0
9                0           0              1
10               1           2              0
11               1           2              1
12               1           0              0
13               1           0              1
14               1           1              0
15               1           1              1

In [9]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

model.fit(features, target)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [10]:
model.score(features, target)

1.0

In [11]:
model.predict([[2,1,0]])

array([0])

In [12]:
model.predict([[2,1,1]])

array([1])

# Preprocessing

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [14]:
le.fit([1,2,2,6,5,5])

LabelEncoder()

In [15]:
le.classes_

array([1, 2, 5, 6])

In [16]:
le.transform([1,2,2,6,5,5])

array([0, 1, 1, 3, 2, 2])

In [18]:
le.inverse_transform([0, 1, 2])

array([1, 2, 5])

In [19]:
le.fit(['paris', 'paris', 'goa', 'mumbai'])

LabelEncoder()

In [20]:
le.classes_

array(['goa', 'mumbai', 'paris'], dtype='<U6')

In [21]:
le.transform(['goa','goa','paris'])

array([0, 0, 2])

In [22]:
le.inverse_transform([0, 1, 2])

array(['goa', 'mumbai', 'paris'], dtype='<U6')